header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0BwlJSWe7GSmqbDZZNnpQSEJhVk0=w1329-h862-iv1');
      background-size: cover;
    }
    a {
      color: white;
    }
body {
      background: rgb(208,236,244)
}
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 45px;
        padding: 5px;
         color: rgb(208,236,244)
      }
      li {
        padding: 5px;
        display: block;
      }
    }
body{
      color:rgba="a1adba";
      color: rgba="d0ecf4";
}
   h2 {
      font-size: 35px;
          color:rgba:"4d5156"
    }
    h1 {
        font-size: 40px;
        padding: 5px;
         color: rgb(208,236,244)
      }
